   @model BusinessObject.HomeViewModel.HomeModel;

@{
    var popularProducts = Model.products?.OrderBy(p => Guid.NewGuid()).Take(6).ToList();
}
<section class="slick-slideshow">   
    <div class="slick-custom">
        <img src="~/images/boli/anh5.jpg" class="img-fluid" alt="">
    
        <div class="slick-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-10">
                            <h1 class="slick-title">Boli Jewelery</h1>

                        <p class="text-white mb-lg-5">
                            Sứ mệnh: Boli cam kết cung cấp các sản phẩm trang sức thủy tinh chất lượng cao cho khách hàng.
                        </p>                        
                        <a href="story" class="btn custom-btn">Tìm hiểu thêm về chúng tôi</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="slick-custom">
            <img src="~/images/slideshow/hat-thuy-tinh3.jpg" class="img-fluid" alt="">

        <div class="slick-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-10">
                        <h1 class="slick-title">Boli Shop</h1>

                            <p class="text-white mb-lg-5">
                            Chúng tôi tự hào mang đến cho các bạn những sản phẩm thẩm mỹ và chất lượng nhất.
                            </p>

                        <a href="product" class="btn custom-btn">Khám phá sản phẩm</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="slick-custom">
        <img src="~/images/slideshow/hat-thuy-tinh4.jpg" class="img-fluid" alt="">

        <div class="slick-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-10">
                        <h1 class="slick-title">Kết nối với chúng tôi</h1>
                            <p class="text-white mb-lg-5">
                            Vui lòng truy cập trang web của chúng tôi để xem những mẫu trang sức thủy tinh mới nhất và chọn sản phẩm bạn yêu thích.
                            </p>

                        <a href="contact" class="btn custom-btn">Liên hệ với chúng tôi</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="about section-padding">
<div class="container">
    <div class="row">

        <div class="col-12 text-center">
                <h2 class="mb-5">Bắt đầu với <span>Boli</span> Fashion</h2>
        </div>

        <div class="col-lg-2 col-12 mt-auto mb-auto">
            <ul class="nav nav-pills mb-5 mx-auto justify-content-center align-items-center" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Giới thiệu</button>
                </li>

                <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-youtube-tab" data-bs-toggle="pill" data-bs-target="#pills-youtube" type="button" role="tab" aria-controls="pills-youtube" aria-selected="true">Cách làm việc?</button>
                </li>

                @* <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-skill-tab" data-bs-toggle="pill" data-bs-target="#pills-skill" type="button" role="tab" aria-controls="pills-skill" aria-selected="false">Capabilites</button>
                </li> *@
            </ul>
        </div>

        <div class="col-lg-10 col-12">
            <div class="tab-content mt-2" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

                    <div class="row">
                        <div class="col-lg-7 col-12">
                        <img src="~/images/boli/anh1.jpg" class="img-fluid" alt="">
                        </div>

                        <div class="col-lg-5 col-12">
                            <div class="d-flex flex-column h-100 ms-lg-4 mt-lg-0 mt-5">
                                    <h4 class="mb-3">Ý tưởng <span>thiết kế đẹp </span> <br>cho thời trang <span>của bạn</span> </h4>

                                    <p>
                                        Chúng tôi tự hào giới thiệu bộ sưu tập trang sức thủy tinh độc đáo và sang trọng nhất từ ​​BoLi Jewellery. Mỗi sản phẩm đều được chế tác tỉ mỉ bởi những nghệ nhân lành nghề, mang đến cho bạn vẻ đẹp lấp lánh và sự thanh thản tuyệt vời.
                                    </p>
                                    <p class="lead">
                                        Vật liệu chất lượng cao: Chúng tôi sử dụng thủy tinh chất lượng cao, được gia công và chế tác tỉ mỉ để đảm bảo sản phẩm luôn bền, đẹp và an toàn cho người sử dụng.
                                    </p>
                                <div class="mt-2 mt-lg-auto">
                                    <a href="story" class="custom-link mb-2">
                                            Tìm hiểu thêm về chúng tôi
                                        <i class="bi-arrow-right ms-2"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="pills-youtube" role="tabpanel" aria-labelledby="pills-youtube-tab">

                    <div class="row">
                        <div class="col-lg-7 col-12">
                            <div class="ratio ratio-16x9">
                                    <iframe src="https://www.youtube.com/embed/sD7APfNIl5o?si=Nibh2_iz4e9n4zWs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>

                        <div class="col-lg-5 col-12">
                            <div class="d-flex flex-column h-100 ms-lg-4 mt-lg-0 mt-5">
                                    <h4 class="mb-3">Cuộc sống tại Studio</h4>

                                <p>
                                        Trong hơn ba năm kinh doanh, chúng tôi đã có cơ hội làm việc trên nhiều dự án khác nhau với các công ty
                                </p>

                                    <p>
                                        Hy vọng mọi người đều có một ngày vui vẻ, nếu bạn có bất kỳ câu hỏi nào về bất kỳ điều gì nói chung, hãy thoải mái bình luận bên dưới nhé!
                                    </p>

                                <div class="mt-2 mt-lg-auto">
                                    <a href="contact" class="custom-link mb-2">
                                            Liên hệ với chúng tôi
                                        <i class="bi-arrow-right ms-2"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
</section>

<section class="front-product">
<div class="container-fluid p-0">
    <div class="row align-items-center">

        <div class="col-lg-6 col-12">
            <img src="~/images/boli/anh3.jpg" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 col-12">
            <div class="px-5 py-5 py-lg-0">

                    <h2 class="mb-4">Chủ cửa hàng <span>Bán lẻ</span> </h2>

                    <p class="lead mb-4">
                        Vui lòng truy cập trang web của chúng tôi để xem những mẫu trang sức thủy tinh mới nhất và chọn sản phẩm bạn yêu thích.
                    </p>

                <a href="products" class="custom-link">
                        Khám phá sản phẩm
                    <i class="bi-arrow-right ms-2"></i>
                </a>
            </div>
        </div>

    </div>
</div>
</section>

<section class="featured-product section-padding">
<div class="container">
    <div class="row">
                        
        <div class="col-12 text-center">
                <h2 class="mb-5">Sản phẩm nổi bật</h2>
        </div>

            @foreach (var p in popularProducts)
            {
                <div class="col-lg-4 col-12 mb-3">
                    <div class="product-thumb">
                        <a asp-action="ViewProductDetail" asp-controller="Product" asp-route-id="@p.id">
                            <img src="~/@p.image" class="img-fluid product-image" alt="">
                        </a>

                        <div class="product-top d-flex">
                            <span class="product-alert">@p.featured</span>

                            <a href="#" class="bi-heart-fill product-icon ms-auto"></a>
                        </div>

                        <div class="product-info d-flex">
                            <div>
                                <h5 class="product-title mb-0">
                                    <a asp-action="ViewProductDetail" asp-controller="Product" asp-route-id="@p.id" class="product-title-link">@p.name</a>
                                </h5>

                                <p class="product-p">@p.type</p>
                            </div>

                            <strong class="product-price ms-auto price-item">@($"{p.price:N0}") VND</strong>
                        </div>
                    </div>
                </div>
            }

        <div class="col-12 text-center">
                <a href="products" class="view-all">Xem tất cả sản phẩm</a>
        </div>

    </div>
</div>
</section>
<style>
    section.slick-slideshow.slick-initialized.slick-slider.slick-dotted {
        height: 500px;
    }

    .slick-bottom{
        margin-bottom:300px;
    }
    .price-item{
        color: #ff4400;
    }
</style>


